.social-media {
  position: absolute;
  bottom: 0;  
  display: flex;
  gap: var(--spacing-xs);

  .social-media__link {
    --size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--corners-round);
    box-shadow: var(--shadow-lg);
    background: var(--white-color);

    svg {
      --icon-size: calc(var(--size) * 0.5);
      width: var(--icon-size);
      height: var(--icon-size);
      fill: var(--dark-color);
    }
  }
}
