#Testimonials {
  .app__wrapper {
    --gap: clamp(var(--spacing-xxl), 5vw, var(--spacing-xxl));
    gap: var(--gap);
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;

      .app__header {
        width: 80%;
      }
    }
  }

  .app__header {
    min-width: 25ch;
  }

  .testimonials__slider-buttons {
    display: flex;
    gap: var(--spacing);
    margin-block-start: var(--spacing-lg);

    button {
      --corners: var(--corners-round);
      padding: 0;
      width: var(--size);

      &:not(:hover) {
        --background: var(--gray-color);
      }
    }
  }
  .testimonials__slider {
    flex-grow: 1;
    .testimonials__slide {
      display: flex;
      gap: var(--spacing-xxl);
      max-height: 400px;

      .testimonials__image-cover {
        display: flex;
        flex-direction: column;
        max-width: 40%;
        width: 100%;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }

      .testimonials__description {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xl);
        align-self: stretch;

        .testimonials__quote-container {
          display: flex;
          flex-direction: column;
          gap: var(--spacing);

          .testimonials__company {
            color: var(--primary-color);
          }

          .testimonials__qoute {
            font-size: 24px;
          }
        }

        .testimonials__profile {
          display: flex;
          align-items: center;
          gap: var(--spacing);

          .testimonials__avatar {
            --size: 48px;
            width: var(--size);
            width: var(--size);
            overflow: hidden;
            border-radius: var(--corners-round);
          }
          .testimonials__profile-job {
            font-size: 0.8em;
            opacity: 0.6;
          }
        }
        .testimonials__slider-index-container {
          display: flex;
          gap: var(--spacing);
          margin-block-start: auto;

          .testimonials__slider-index {
            --size: 8px;
            --corners: var(--corners-round);
            min-width: 40px;

            &:not(.active) {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }

      //   Media
      @media screen and (max-width: 500px) {
        .testimonials__image-cover {
          display: none;
        }
      }
    }
  }
}
