#Footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  .app__wrapper {
    gap: var(--spacing-xxl);

    .Footer__header {
      --header-size: clamp(48px, 10.5vw, 146px);
      text-align: center;

      h2 {
        font-size: var(--header-size);
        display: flex;
        flex-direction: column;
        font-weight: 100;

        * {
          color: inherit;
        }

        .header-top {
          font-size: 24px;
        }

        .highlight{
          font-family: ManuscribeRegular;
        }
      }
    }

    hr {
      --background: var(--light-color);
    }
  }
}
