#Footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    .app__wrapper{
        gap: var(--spacing-xxl);
        flex-wrap: wrap;

        .app__header{
            min-width: 20ch;
        }

        @media screen and (min-width: 768px) {
           > * {
                flex-grow: 1;
            }

            .app__header{
                max-width: 35ch;
            }
            .contact-form {
                flex-basis: 50%;
            }
        }
    }
}