.ProtfolioCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  color: inherit;

  .ProtfolioCard__cover {
    overflow: hidden;
    a {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    img {
      object-fit: cover;
      min-width: 100%;
    }
  }

  .ProtfolioCard__description {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .title {
      font-size: clamp(40px, 5vw, 4em);
    }

    .link {
      color: inherit;
    }
  }
}
