#Header {
  --header-size: clamp(48px, 10.5vw, 146px);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  min-height: fit-content;
  padding: var(--spacing-xl);

  .app__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    align-items: center;
    justify-content: space-between;

    & > * {
      grid-area: 1/1;
    }

    .Header__title {
      font-size: var(--header-size);
      display: flex;
      flex-direction: column;
      font-weight: 100;

      .title-line {
        position: relative;
        overflow: hidden;
        display: inline-block;

        .line-text {
          display: inherit;
          animation: showUp 1s;

          .highlight {
            font-family: ManuscribeRegular;
            color: var(--primary-color);
          }
        }
      }
    }

    .Header__description {
      max-width: 200px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.1em;
      align-self: start;
      justify-self: flex-end;

      .word {
        position: relative;
      }
    }

    .ScrollButton {
      --size: var(--header-size);
      align-self: end;
      justify-self: flex-end;
    }

    @media screen and (min-width: 600px) {
      display: grid;
      gap: var(--spacing-xxl);

      .Header__title {
        white-space: nowrap;
      }

      .Header__description {
        margin-block-start: 2vw;
      }
    }
  }
  hr {
    --background: var(--light-color);
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }

  @media screen and (min-width: 600px) {
    height: 100vh;

    .app__wrapper {
      margin-block: auto;
    }
  }
}
