.ExperienceList {
  overflow-x: auto;
  .ExperienceList__header {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    opacity: 0.4;
    font-size: 0.9em;

    .ExperienceList__column-title {
      flex-grow: 1;
      min-width: 20ch;
    }
  }

  .ExperienceList__item {
    display: flex;
    flex-direction: column;
  
    .item-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      min-height: 48px;

      > * {
        flex-grow: 1;
        min-width: 20ch;
        align-self: center;
        font-size: 1em;
        font-weight: normal;
      }
    }
  }
}
