.ProjectsSlider {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xxl);

  > * {
    flex-grow: 1;
  }

  .ProjectsSlider_project-details {
    min-width: 30ch;
    display: flex;
    flex-direction: column;

    .project-header {
      display: flex;
      flex-direction: row;
      gap: 1em;
    }

    .project-content {
      display: flex;
      flex-direction: column;
      gap: var(--spacing);
      margin-block: auto;
    }

    .ProjectsSlider__navigation {
      display: flex;
      gap: var(--spacing);
      flex-wrap: wrap;
      border-top: 1px solid var(--light-color);
      padding-block-start: var(--spacing);

      button {
        --background: unset;
        --corners: var(--corners-round);
        display: grid;
        align-content: center;
        justify-content: center;
        padding: unset;
        border: 1px solid rgba(255, 255, 255, 0.4);

        > * {
          grid-area: 1/1;
        }

        svg {
            transition: all 1.5s var(--ease);
            stroke-dasharray: 310.51519775390625;
        }

        &:not(:hover) {
            svg {
                stroke-dashoffset: 310.51519775390625;
            }
        }
      }

      &[disabled] {
        pointer-events: none;
        opacity: 0.4;
      }
    }
  }

  .ProjectsSlider__slider {
    overflow: hidden;

    .slider-wrapper {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-xl);
      transition: transform 0.5s var(--ease);
    }

    .ProjectsSlider__slider-card {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      height: 400px;
      background: var(--light-color);
      // min-width: 300px;

      img {
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}
